.addGiftForm {
	width: 100%;
}

.add-gift-header {
  font-size: 30px !important;
	color: #2c6e49 !important;
	text-shadow: rgb(5, 20, 43);
	text-align: center;
	font-family: cursive;
  font-weight: bold;
  padding-top: 5%;
}

.bgWrapper {
    background-image: url("./images/thebag.jpg");
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    position: fixed;
}

@media screen and (max-width:575px) {
  .addGiftForm {
    margin-left: 1px !important;
  }
  .form-item-button .ant-col-offset-5 {
    margin-left: 0;
  }
}