.center {
	display: flex !important;
	flex-direction: column !important;
	align-items: center !important;
	justify-content: center !important;
}

.font-style-title {
	font-size: 30px !important;
	color: #2c6e49 !important;
	font-weight: bold;
	font-family: "Comic Sans MS", cursive, sans-serif !important;
}

.font-style-header {
	font-size: 28px !important;
	color: #2c6e49 !important;
	font-weight: bold;
	font-family: "Comic Sans MS", cursive, sans-serif !important;
}

.font-style-text {
	font-size: 18px !important;
	color: #2c6e49 !important;
	font-family: "Comic Sans MS", cursive, sans-serif !important;
}

.profile-img-style {
	border-radius: 50% !important;
	border-style: solid !important;
	border-width: 10px !important;
	border-color: #2c6e49 !important;
	width: 100% !important;
	height: auto !important;
}
