.footer-div {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 45px;
	background: #cad2c5;
	border-color: #2c6e49;
	border-top: solid 2px;
	color: #2c6e49;
	font-size: 16px;
}

.center-align {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
