.custom-nav-style {
	background: linear-gradient(to bottom, #5a886e, #d2ddcb) !important;
	border-bottom: 0.01px solid #758c80 !important;
}

.icon-custom-style {
	float: right !important;
	font-size: 16px !important;
	color: #9a1111 !important;
	font-family: cursive !important;
}

.icon-custom-style:hover {
	color: seagreen !important;
}
